<table class="table">
  <% book.comments.each do |comment| %>
    <tr>
      <td><%= attachment_image_tag comment.user, :profile_image, size: "40x40", fallback: "no_image.jpg", size: "40x40" %></td>
      <td><%= comment.content %></td>
      <td>いいね<%= comment.favorites.count %>件
        <% if comment.favorited_by?(current_user) %>
          <%= link_to "いいねを取り消す", book_comment_favorite_path(book_id: book.id, comment_id: comment.id), method: :delete %>
        <% else %>
          <%= link_to "いいねする", book_comment_favorites_path(book_id: book.id, comment_id: comment.id), method: :post %>
        <% end %>
      </td>
      <td>
        <% if comment.user == current_user %>
          <%= link_to book_comment_path(book, comment), method: :delete do %>
            <button class="btn btn-danger">削除</button>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>