<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h2>User info</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= attachment_image_tag user, :profile_image, size: "80x80", fallback: "no_image.jpg", size: "80x80" %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table">
        <tr>
          <td>name</td>
          <td><%= user.name %></td>
        </tr>
        <tr>
          <td>introduction</td>
          <td><%= user.introduction %></td>
        </tr>
        <tr>
          <td>
            <%= link_to "follows", user_followings_path(user) %>
          </td>
          <td><%= user.following_users.count %></td>
        </tr>
        <tr>
          <td>
            <%= link_to "followers", user_followers_path(user) %>
          </td>
          <td><%= user.follower_users.count %></td>
        </tr>
      </table>
    </div>
  </div>
  <% if current_user == user %>
    <div class="row">
      <div class="col-xs-12">
        <%= link_to edit_user_path(user) do %>
          <button>プロフィール設定</button>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>New book</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= form_with model: book, local: true do |f| %>
      <div class="form-group">
        <%= f.label :title, "Title" %><br>
        <%= f.text_field :title, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :opinion, "Opinion" %><br>
        <%= f.text_area :opinion, class: "form-control" %>
      </div>
      <%= f.submit "Create Book", class:"btn btn-primary btn-block" %>
    <% end %>
  </div>
</div>

