<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3">
      <%= render partial: "users/sidebar", locals: { user: @book.user, book: Book.new } %>
    </div>
    <div class="col-xs-9">
      <h2>Book Detail</h2>
      <table class="table">
        <tr>
          <td><%= attachment_image_tag @book.user, :profile_image, size:"40x40",fallback:"no_image.jpg", size:"40x40" %></td>
          <td><%= @book.title %></td>
          <td><%= @book.opinion %></td>
          <td>
            <%= link_to edit_book_path(@book) do %>
              <button class="btn btn-success">Edit</button>
            <% end %>
          </td>
          <td>
            <%= link_to book_path(@book), method: :delete, data: {confirm: "削除しますか？"} do %>
              <button class="btn btn-danger">Delete</button>
            <% end %>
          </td>
        </tr>
      </table>
      <div class="comment-form">
        <%= render partial: "comments/comment_form", locals: { book: @book, comment: @comment } %>
      </div>
      <% if @book.comments.any? %>
        <div class="comment-index">
          <h3>コメント一覧</h3>
          <%= render partial: "comments/comment_index", locals: { book: @book } %>
        </div>
      <% end %>
    </div>
  </div>
</div>